@media (min-width: 300px) {
  * {
    margin: 0;
    padding: 0;
    color: white;
    background-color: var(--app-bg-color);
  }

  button {
    background: none;
    border: none;
  }

  .homeLink {
    display: inline-block;
    margin-left: 0.6rem;
  }

  .apps-nav {
    padding-top: 1rem;
    padding-left: 1rem;
  }
}

@media (min-width: 400px) {
}

@media (min-width: 500px) {
}

@media (min-width: 600px) {
}

@media (min-width: 700px) {
}