@media (min-width: 300px) {
  * {
    margin: 0;
    padding: 0;
    color: white;
    background-color: var(--app-bg-color);
  }

  button {
    background: none;
    border: none;
  }

  .homeLink {
    display: inline-block;
    margin-left: 0.6rem;
  }

  .apps-nav {
    padding-top: 1rem;
    padding-left: 1rem;
  }

  .apps-main {
    height: 100vh;
    width: 100vw;
  }

  .app-list {
      display:  grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .app { 
    /* height: 400px; */
    border: 1px solid white; 
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 375px;
  }

  .app:nth-child(1) {
    background-image: url('./images/vote.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .app:nth-child(3) {
    background-image: url('./images/store.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .app > button,
  .app > a {
    justify-self: flex-end;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
  }

  .app > button:hover,
  .app > a:hover {
    background-color: rgba(230, 230, 230, .5);
    opacity: 1;
    cursor: pointer;
  }

  /* Text after hover */
  .overlay {
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .2s ease;
    background-color: #008CBA;
    z-index: 9;
  }

  .app > button:hover .overlay,
  .app > a:hover .overlay {
    opacity: 1;
  }

  .text {
    background-color: rgba(0, 0, 0, 0);
    z-index: 20;
    color: white;
    font-size: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  /*  */
  .app-modal {
    display: none;
    flex-direction: column;
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 90%; 
    transform: translate(-50%, -50%);
  }

  .iconCloseButton {
    position: relative;
    top: -1rem;
    right: -1rem;
    font-size: 1.6rem;
    border-radius: 2.5rem;
    align-self: flex-end;
  }

  .app-modal iframe {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 400px) {
  .app-list {
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  }
  .app { 
    height: 450px;
  }
}

@media (min-width: 500px) {
  .app-list {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }
  .app { 
    height: 400px;
  }
}

@media (min-width: 600px) {
  .app { 
    height: 390px;
  }
}

@media (min-width: 700px) {
  .app { 
    height: 375px;
  } 
}

