:root {
  --light-black: #161616;
  --eggshell: #fcfcfc;
  --dark-green: #21261f;
  --light-green: #525451;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  color: var(--eggshell);
  /* find a font-family */
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.navbar {
  background-color: var(--dark-green);
  overflow-x: hidden;
  height: 63px;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  width: 60px;
}

.logo h4 {
  margin: 0 auto;
  letter-spacing: 1px;
}

.navbar-nav {
  display: flex;
}

.navbar-nav li {
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar a {
  display: block;
  text-align: center;
  padding: 14px;
  color: white;
}

.navbar a:hover {
  background-color: var(--light-green);
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: var(--dark-green);
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 63px;
  transition: 0.5s;
}

.side-nav a {
  padding: 10px 30px 10px 10px;
  color: var(--eggshel);
  font-size: 22px;
  display: block;
  transition: 0.3s;
}

.side-nav a:hover {
  background-color: var(--light-green);
}

.side-nav .btn-close {
  position: absolute;
  top: 0;
  left: 12px;
  font-size: 36px;
  margin: 0;
  padding: 0;
}

.side-nav .btn-close:hover {
  background-color: var(--dark-green);
  font-weight: 600;
  transition: font-size 0.3s;
}

#main {
  transition: margin-right 0.5s;
  padding: 20px;
  overflow: hidden;
  width: 100%;
}

@media screen and (max-width: 568px){
  .navbar-nav {
    display: none;
  }
} 

@media screen and (min-width: 568px) {
  .open-slide {
    display: none;
  }
}