.navbar_1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: var(--metallic-grey);
  color: white;
}

.navbar_1_logo > li > a {
  font-size: 18px;
  font-weight: 800;
  color: rgba(255,255,255,0.75);
}

.navbar_1_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 6px;
}

.navbar_1_dropdown_button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50px;
  height: 40px;
  padding: 6px 0;
  background-color: inherit;
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 3px;
}
.navbar_1_dropdown_button:hover,
.navbar_1_dropdown_button_inner:hover {
  cursor: pointer;
}

.navbar_1_dropdown_button div {
  width: 20px;
  height: 2px;
  background-color: rgba(255,255,255,0.55);
  margin: 0;
}

.navbar_1_dropdown,
.navbar_1_dropdown_inner {
  position: relative;
  display: inline-block;
  background-color: var(--metallic-grey);
  width: 100%;
}

.navbar_1_dropdown_content {
  position: absolute;
  background-color: inherit;
}
.navbar_1_dropdown_content_inner {
  position: relative;
  background-color: white;
  border-radius: 0.3rem;
}
/*
*/
.navbar_1_dropdown_content,
.navbar_1_dropdown_content_inner {
  display: none;
  z-index: 1;
}
.navbar_1_dropdown_content {
  width: 100%;
}
.navbar_1_dropdown_content_inner {
  padding: 0;
  width: 98%;
  margin: 0 1%;
}
/* 
*/
.navbar_1_dropdown_content > li:nth-child(1) {
 /* margin-top: 0; */
}
.navbar_1_dropdown_button_inner {
  margin-bottom: 6px;
}
/*  
*/
.navbar_1_dropdown_content > li {
  width: inherit;
  margin: 0.5rem 0;
}
.navbar_1_dropdown_content > li > a {
  padding-left: 0.4rem;
}
.navbar_1_dropdown_content_inner > li {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
  height: 40px;
  border-radius: 0.3rem;
}
/*
*/
.navbar_1_dropdown_content_inner > li > a {
  display: flex;
  width: 100%;
  color: black;
}
.navbar_1_dropdown_content > li > a {
  color: rgba(255,255,255,0.65); 
}
.navbar_1_dropdown_content > li > a:hover {
  font-weight: 800;
  color: rgba(255,255,255,0.8);
}
.navbar_1_dropdown_content_inner > li:hover {
  font-weight: 800;
  background-color: rgba(240,240,240,0.8);
}

.navbar_1_search {
  width: 100%;
  height: 40px;
  padding: 0;
  display: flex;
  justify-content: center;
}
.navbar_1_search input {
  width: 98%;
  margin: 0 auto;
  padding-left: 0.3rem;
  font-size: 16px;
}

.showMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.disabled {
  pointer-events: none;
}