.navbar_3 {
  background-color: var(--metallic-grey);
  height: fit-content;
  margin-top: 1rem;
}
.navbar_3 ul:nth-child(1) {
  justify-content: space-between;
  margin: 0 0.3rem;
  height: 62px;
}
.navbar_3 .logo {
  font-weight: 800;
  font-size: 20px;
  color: rgba(255,255,255,0.75);
}
.navbar_3 a {
  color: rgba(255,255,255,0.45);
}
.navbar_3 .menu_btn {
  background: none;
  border: 1px solid rgba(255,255,255,0.35);
  border-radius: 0.3rem;
  height: 42px;
  width: 52px;
  align-items: center;
}
@media screen and (min-width: 0px) {
  .navbar_3 .menu_btn div {
    width: 32px; 
    height: 3px;
    background-color: rgba(255,255,255,0.55);
    flex: 0 0 2px;
  }
  .navbar_3 .menu_btn div:nth-child(2) {
    margin: 0.5rem 0;
  }
  .navbar_3 .menu_list {
    height: fit-content;
    background-color: var(--metallic-grey);
    display: none;
  }
  .navbar_3 .show {
    display: flex;
  }
  .menu_list li {
    flex: 0 0 32px;
  }
  .menu_list li > a:hover {
    font-weight: 800;
    text-decoration: underline;
    margin-left: 0.2rem;
    color: rgba(255,255,255,0.75);
  }
}
@media screen and (min-width: 768px) {
  .navbar_3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.3rem;
  }
  .navbar_3 .menu_btn {
    display: none;
  }
  .navbar_3 ul:nth-child(1) {
    flex: 1;
  }
  .navbar_3 .menu_list {
    flex: 1 1 132px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .menu_list li {
    flex: 0 0 33px;
  }
  .menu_list li > a:hover {
    margin-left: 0;
  }
}