@media screen and (min-width: 0) {
	/* footer */
  /* height is temporary until styling begins */
	.footer {
		position: fixed;
		bottom: 0;
		right: 0;
		left: 0;
    height: 0;
	}
	/* end footer */
	/* Menu button */
  input {position: absolute; display: none}
  .menu {
    height: 70px;
    width: 70px;
  }
  .btn {
    width: 70px;
    height: 70px;
    border-radius: 70px;
    position: absolute;
		right: 1rem;
		bottom: 1rem;
    overflow: hidden;
    cursor: pointer;
  }
  .material-icons.md-36 { font-size: 36px; color: white }
  .btn {
    background: var(--forest-green);
    font-size: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  .btn:not(:first-child) {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    z-index: -2;
    -webkit-transition: all 0.6s cubic-bezier(.87,-.41,.19,1.44);
    transition: all 0.6s cubic-bezier(.87,-.41,.19,1.44);
  }
  .btn:nth-child(2) {top:0px;right:1rem;-webkit-transition-delay: 0s;transition-delay: 0s}
  .btn:nth-child(3) {top:0px;right:0px;-webkit-transition-delay: 0.1s;transition-delay: 0.1s}
  .btn:nth-child(4) {right:0px;bottom:1rem;-webkit-transition-delay: 0.2s;;transition-delay: 0.2s}
  input#toggle:checked ~ #show-menu .btn:nth-child(2) {
    top:calc(-150px - 1rem); right: 1rem;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
  input#toggle:checked ~ #show-menu .btn:nth-child(3) {
    top:calc(-100px - 1rem);right: calc(100px + 1rem);opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
  input#toggle:checked ~ #show-menu .btn:nth-child(4) {
    right:calc(150px + 1rem); bottom: 1rem;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
  .menuBtn, .closeBtn {
    position: absolute;
    transition: all 0.3s ease;
  }
  .closeBtn {
    transform: translateY(50px);
    opacity: 0;
  }
  input#toggle:checked ~ #show-menu .btn .menuBtn {
    transform: translateY(-50px);
    opacity: 0;
  }
  input#toggle:checked ~ #show-menu .btn .closeBtn {
    transform: translateY(0px);
    opacity: 1;
  }
	/* end menu button */
}